<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.0.0.58475 -->
    <meta charset="utf-8">
    <title>Noticias</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>



<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }.art-content .art-postcontent-1 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }.art-content .art-postcontent-2 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header clearfix">


    <div class="art-shapes">
<h1 class="art-headline" data-left="17.97%">
    <a href="#">GLOBOCOM</a>
</h1>
<h2 class="art-slogan" data-left="17.97%"> Global Telecommunication Services</h2>

<div class="art-object1024464195" data-left="3.61%"></div>

            </div>

                
                    
</header>
<nav class="art-nav clearfix">
    <ul class="art-hmenu"><li><a href="principal.html">Principal</a></li><li><a href="home.html" class="active">Noticias</a></li><li><a href="products.html">Products</a></li><li><a href="services.html">Services</a></li><li><a href="clients.html">Clients</a></li><li><a href="about.html">About Us</a></li><li><a href="contacts.html">Contact Us</a></li></ul> 
    </nav>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper clearfix">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1 clearfix"><div class="art-vmenublock clearfix">
        <div class="art-vmenublockheader">
            <h3 class="t">Navigation</h3>
        </div>
        <div class="art-vmenublockcontent">
<ul class="art-vmenu">
    <li><a href="principal.html">Principal</a></li>
    <li><a href="home.html" class="active">Noticias</a></li>
    <li><a href="products.html">Products</a></li>
    <li><a href="services.html">Services</a></li>
    <li><a href="clients.html">Clients</a></li>
    <li><a href="about.html">About Us</a></li>
    <li><a href="contacts.html">Contact Us</a></li>
</ul>
                
        </div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Featured Products</h3>
        </div>
        <div class="art-blockcontent"><p>Nunc cum orci. <span style="font-weight: bold;"><span style="color: rgb(158, 10, 13);">$29.99</span></span>Ut.<br><br></p><p>Mauris et eget.<span style="font-weight: bold;"><span style="color: rgb(158, 10, 13);">$299.99</span></span>At.<br><br></p><p>Ipsum in erat. <br><span style="font-weight: bold;"><span style="color: rgb(158, 10, 13);">$14.95</span></span>In.<br><br></p><p>In nec eget.<br><span style="font-weight: bold;"><span style="color: rgb(158, 10, 13);">Fusce ac.</span><br><br></span></p><p><a href="products.html">Más...</a></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Nuevo Bloque</h3>
        </div>
        <div class="art-blockcontent"><p><br /></p></div>
</div></div>
                        <div class="art-layout-cell art-content clearfix"><article class="art-post art-article">
                                <h2 class="art-postheader"><a href="Blog Posts/new-post.html">Latest Update</a>
                                </h2>
                                                <div class="art-postheadericons art-metadata-icons">
                    <span class="art-postdateicon"></span>
                     | <span class="art-postpdficon"></span>
                     | <span class="art-postprinticon"></span>
                     | <span class="art-postemailicon"></span>
                                    </div>
                <div class="art-postcontent art-postcontent-0 clearfix">
<div class="art-content-layout">
<div class="art-content-layout-row">
<div class="art-layout-cell layout-item-0" style="width: 100%">
<p><span style="font-weight: bold;">Lobortis aenean a semper egestas leo eros libero blandit dapibus fusce metus suspendisse euismod leo arcu ipsum ipsum cursus tortor metus sed.</span></p>
<p>Eros ipsum blandit mauris pellentesque eleifend ornare. Adipiscing sagittis sit suspendisse tincidunt libero tincidunt platea nisl ipsum lacus pellentesque in nibh in. Nibh sit curabitur sollicitudin quis posuere dolor netus feugiat. sagittis nunc a ipsum nunc. Diam turpis tincidunt eu eros lorem libero est arcu tristique leo.</p>
</div>
</div>
</div><br><a href="Blog Posts/new-post.html">Read more...</a>
                </div>
</article>
<article class="art-post art-article">
                                <h2 class="art-postheader"><a href="Blog Posts/new-post-1.html">New Product Available</a>
                                </h2>
                                                <div class="art-postheadericons art-metadata-icons">
                    <span class="art-postdateicon"></span>
                     | <span class="art-postpdficon"></span>
                     | <span class="art-postprinticon"></span>
                     | <span class="art-postemailicon"></span>
                                    </div>
                <div class="art-postcontent art-postcontent-1 clearfix">
<div class="art-content-layout">
<div class="art-content-layout-row">
<div class="art-layout-cell layout-item-0" style="width: 100%">
<p>Nisl sapien mus non tortor nibh arcu at in. Mauris tincidunt lacus odio curabitur proin quis libero ipsum aliquet mi. Nisi ut arcu praesent libero vel suspendisse libero ac. Nibh feugiat tellus urna vitae id. Et ut nunc neque dolor. Augue aptent morbi in velit fermentum suscipit ipsum vivamus sed in varius. Curabitur quis fusce etiam tristique nibh eget suscipit est. Aliquam rhoncus convallis nullam. Egestas lorem dapibus phasellus.</p>
</div>
</div>
</div><br><a href="Blog Posts/new-post-1.html">Read more...</a>
                </div>
</article>
<article class="art-post art-article">
                                <h2 class="art-postheader"><a href="Blog Posts/new-post-2.html">Increase In Sales</a>
                                </h2>
                                                <div class="art-postheadericons art-metadata-icons">
                    <span class="art-postdateicon"></span>
                     | <span class="art-postpdficon"></span>
                     | <span class="art-postprinticon"></span>
                     | <span class="art-postemailicon"></span>
                                    </div>
                <div class="art-postcontent art-postcontent-2 clearfix">
<div class="art-content-layout">
<div class="art-content-layout-row">
<div class="art-layout-cell layout-item-0" style="width: 100%">
<p>Suspendisse id fusce cursus libero morbi metus auctor. Venenatis et justo posuere eget leo metus mauris non. Convallis scelerisque egestas convallis. Nullam leo mi a enim non at nulla hendrerit dolor tellus non. Nisi tincidunt augue turpis fusce. Et fringilla hymenaeos faucibus quis ligula. Leo et fusce sit orci leo nibh pretium odio nunc. Donec ligula nibh ultricies id augue tristique iaculis amet.</p>
</div>
</div>
</div><br><a href="Blog Posts/new-post-2.html">Read more...</a>
                </div>
</article>
</div>
                    </div>
                </div>
            </div><footer class="art-footer clearfix">
<p>Nec eros etiam quis felis quis maecenas posuere phasellus vestibulum sit.</p>
</footer>

    </div>
    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
    </p>
</div>


</body></html>